body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-family: "Orbitron", sans-serif;
}
h2 {
    color: #000000;
    text-align: center;
    font-family: "Orbitron", sans-serif; 
    font-size: 22px;
}
    
    
/* style colonnes infographiste */
.conteneur {
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 800px;
    height: 700px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.section1 {
    width: 300px;
    height: 650px;
    background-color: #ffffff;
}
.competences {
    font-family: 'Orbitron', sans-serif; 
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 300px;
}
.experiences {
    font-family: 'Orbitron', sans-serif; 
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 300px;
}
.fleche1 {
    width: 300px;
    margin-top: -17px;
}
.illustwebdesign {
    width: 300px;
    margin-top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.illustinfographiste {
    width: 300px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.tailleimg{
    width: 250px;
}
    
    
/* style colonne reconversions */
.section2 {
    width: 500px;
    height: 650px;
    background-color: #FFFFFF;
    padding: 0px 0px 0px 20px;
}
.carriere {
    width: 500px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: black;
}

/* style bloc reconversion */
.blocreconversion {
    width: 500px;
    height: 490px;
    border-radius: 20px;
} 

.reconversion {
    width: 450px;
    height: 40px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #2773BE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
}

.developpeurweb {
    width: 500px;
    height: 10px;
    color: #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif; 
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
} 

.jerecherche{
    width: 500px;
    height: 100px;
    color: #FC721A;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding: 40px 0px 20px 0px;
}
    
.colonnestxtill{
    width: 500px;
    display: flex;
}
   
.txtreconversion{
    width: 280px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
    /* padding: 20px; */
}

.illustdeveloppeur{
    width: 200px;
    padding: 20px 0px 0px 10px;
}

.petiteimage{
    width: 200px;
}
    
/* style bloc competences */
.conteneurcompetences {
    width: 100%;
    height: 750px;
    background-color: #FBF1EC;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    }
.maincompetences {
    width: 800px;
    height: 700px;
    display: flex;
    /* justify-content: center; */
}
    
/* style section3 */   
.section3 {
    width: 300px;
    height: 650px;
}
.fleche2 {
    width: 300px;
    margin-top: -17px;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.txtcompetences{
    width: 300px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding: 0px 0px 10px 0px;
}
.blocacquisition {
    /* padding: 5px 0px 0px 0px; */
    width: 300px;
    height: 190px;
    background-color: #FC721A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 0px 0px 0px ;
}
.titreacquisition{
    width: 300px;
    /* height: 15px ; */
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    padding: 10px 0px 0px 0px;
}
.txtacquisition{
    width: 250px;
    height: 135px;
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

/* style section4 */   
.section4 {
    width: 500px;
    height: 650px;
    padding: 0px 0px 0px 20px;
} 
.illustcompetence {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 10px 10px;
}
.txtcompetencesintro{
    width: 500px;
    color: #000000;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0px 20px 0px 20px;
}
    
.colonnelogiciels{
    width: 500px;
    height: 250px;
    display: flex;
}
.txtlogiciels{
    width: 300px;
    height: 250px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 18px;
}
.logologiciels{
    width: 250px;
}