body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-family: "Orbitron", sans-serif;
}
h2 {
    color: #000000;
    text-align: center;
    font-family: "Orbitron", sans-serif; 
    font-size: 22px;
}
    
    
/* style colonnes infographiste */
.conteneurmetiers {
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
.main {
    width: 800px;
    height: 700px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.section1 {
    width: 300px;
    height: 650px;
    background-color: #ffffff;
}
.competences {
    font-family: 'Orbitron', sans-serif; 
    font-size: 22px;
    text-align: center;
    height: 300px;
}
.experiences {
    font-family: 'Orbitron', sans-serif; 
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 300px;
}
.fleche1 {
    width: 300px;
    margin-top: -17px;
}
.illustwebdesign {
    width: 300px;
    margin-top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.illustinfographiste {
    width: 300px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.tailleimg{
    width: 250px;
}
    
    
/* style colonne reconversions */
.section2 {
    width: 500px;
    height: 650px;
    background-color: #FFFFFF;
    padding: 0px 0px 0px 20px;
}
.carriere {
    width: 500px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: black;
    margin: 20px 0px 30px 0px;
}

/* style bloc reconversion */
.blocreconversion {

} 
.reconversion {
    width: 500px;
    height: 40px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #2773BE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
}
.developpeurweb {
    width: 500px;
    height: 30px;
    color: #000000;
    text-align: center;
    font-family: 'Orbitron', sans-serif; 
    font-size: 38px;
    line-height: 42px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
} 
.jerecherche{
    width: 500px;
    height: 100px;
    color: #FC721A;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding: 30px 0px 20px 0px;
} 
.colonnestxtill{
    width: 500px;
    display: flex;
} 
.txtreconversion{
    width: 280px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
    /* padding: 20px; */
}
.illustdeveloppeur{
    width: 200px;
    padding: 20px 0px 0px 10px;
}
.petiteimage{
    width: 200px;
}

/* style bloc competences */
.conteneurcompetences {
    width: 100%;
    height: 850px;
    background-color: #FBF1EC;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    }
.maincompetences {
    width: 800px;
    height: 800px;
    display: flex;
    padding: 30px 0px 0px 0px;
    /* justify-content: center; */
}

/* style section3 */   
.section3 {
    width: 300px;
    height: 650px;
}
.fleche2 {
    width: 300px;
    margin-top: -17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titrecompetences{
    height: 25px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 22px;
    /* padding: 10px 0px 5px 0px; */
} 
.txtcompetences{
    width: 300px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding: 0px 0px 10px 0px;
}
.blocacquisition {
    /* padding: 5px 0px 0px 0px; */
    width: 300px;
    height: 190px;
    background-color: #FC721A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    padding: 5px 0px 0px 0px ;
}
.titreacquisition{
    width: 300px;
    /* height: 15px ; */
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    padding: 5px 5px 0px 5px;
}
.txtacquisition{
    width: 250px;
    height: 135px;
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
}



/* style section4 */   
.section4 {
    width: 500px;
    height: 650px;
    padding: 0px 0px 0px 20px;
} 
.illustcompetence {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 10px 10px;
}
.txtcompetencesintro{
    width: 500px;
    color: #000000;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0px 20px 0px 20px;
}  
.colonnelogiciels{
    width: 500px;
    height: 250px;
    display: flex;
}
.soustitre{
    text-align: left;
    padding: 0px 0px 0px 20px;
}
.txtlogiciels{
    width: 300px;
    height: 250px;
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 18px;
}
.logologiciels{
    width: 250px;
}



/* style bloc PORTFOLIO */
.conteneurportfolio {
    width: 100%;
    height: 1450px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.mainportfolio {
    width: 100%;
    height: 1300px;
    /* margin: 0 auto */
    padding: 30px 0px 0px 0px;
    /* display: flex; */
    /* justify-content: center; */
}

/* style section3 */   
.section5 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.titrerealisation{
    text-align: center;
    font-size:30px;
    font-weight: 700;
    line-height: 16px;
    color:#000000;
    height: 25px;
    padding: 0px 0px 10px 0px;
}
.fleche2 {
    margin: 0 auto;
} 
.containercreations {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 0px;
    width: 400px;
    height: 100%;
}
.containerimage {
    width: 380px;
    height: 350px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
    padding: 10px 0px 0px 0px;
}
.txtcreations{
    color: #000000;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0px 20px 0px 20px;
}  


/* style bloc MON PARCOURS PROFESSIONNElS */
.conteneurparcours {
    width: 100%;
    height: 2100px;
    background-color: #d8ecf8;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}
.titreparcours{
    text-align: center;
    font-size:30px;
    font-weight: 700;
    line-height: 16px;
    color:#000000;
    height: 25px;
    padding: 0px 0px 10px 0px;
}
.mainparcours {
    width: 100%;
    height: 1300px;
    padding: 30px 0px 0px 0px;
}
.sectioncouleurblanc{
    width: 650px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 0px 20px 0px;
}
.sectionsanscouleur{
    width: 650px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0px 20px 0px;
}
.entreprise {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-size:20px;
    line-height: 16px;
    font-weight: 800;
    color:#3127bb;
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
}
.annee {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color:  #FC721A;
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}
.profession {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
    color:#000000;
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}
.mission {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size:14px;
    line-height: 18px;
    color:#000000;
    text-align: center;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
}
.postes {
    font-family: "Montserrat", sans-serif;
    font-size:16px;
    line-height: 20px;
    font-weight: bold;
    color:#000000;
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
  }