body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-family: "Montserrat", sans-serif;
}

a {
    font-size: 14px;
}

/* style header */
.pictooiso {
    width: 950px;
    height: 75px;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}
.nav {
    background-color: #FC721A;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu {
    background-color: orange;
    width: 800px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fr {
    text-align: center;
    color: black;
    background-color: #ffffff;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
}
.moncv {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
    background-color:#FC721A;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.monliencv {
    color: #ffffff;;
    text-decoration: none;
}
.linkedin {
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}  















/* style footer */
.footer {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.coordonnees {
    width: 800px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}
.contact-text {
    font-family: 'Orbitron', sans-serif;
    color: #000000;
    width: 800px;
    margin-top: 20px; /* Espace en haut */
    font-size: 24px;
    letter-spacing: 1px;
}
.info {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    width: 250px;
    text-align: center;
    color: #000000;
    letter-spacing: 0px;
}
.mail {
    display: inline-block;
    width: 250px;
    margin: 10px 0px 0px 0px ;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0px;
    text-decoration: none;
}
.mon-lien {
    color: #000000;;
    text-decoration: none;
}
.infosplus {
    width: 800px;
    color: #000000;
    text-align: center;
    font-size: 12px;
    margin-top: 20px; /* Espace en haut */
}